.background-color {
    color: rgb(20, 30, 38);
  }
  
  .color-style1 {
    color: rgb(82, 62, 109);
  }
  
  .color-style2 {
    color: rgb(185, 109, 38);
  }
  
  .color-style3 {
    color: rgb(158, 68, 68);
  }
  
  .color-style4 {
    color: rgb(81, 134, 184);
  }
  
  .color-style5 {
    color: rgb(82, 141, 105);
  }
  
  .color-style6 {
    color: rgb(194, 194, 118);
  }